@import "tailwindcss";

@font-face {
  font-family: "anzo regular";
  src: url("/fonts/anzo-regular.woff2");
}
@font-face {
  font-family: "anzo bold";
  src: url("/fonts/anzo-bold.woff2");
}

@theme {
  --font-anzo-regular: "anzo regular";
  --font-anzo-bold: "anzo bold";
}
